@model HomeIndexVm

@{
    ViewData["Title"] = "Home Page";
}

<main class="main my-0">
    <div class="mx-5">
@foreach (var item in Model.Brands)
{
    <a asp-action="BrandModels" asp-controller="Shop" asp-route-id="@item.Id" class="link-secondary">
    <div class="single" style="">
        <div class="image">
            @if(item.ImgUrl.Length > 20){
               <img src="@item.ImgUrl" style="width:180px; height:180px; " />
            }
            else{
                <img src="@item.ImgUrl" style="width:180px; height:180px; " />

            }
        </div>
        <span class="display-4">@item.Name </span>
        
    </div>
    </a>
}

</div>
</main>
