@model HomeIndexVm

@{
    ViewData["Title"] = "Home Page";
}

<style>
    

  
</style>

<main class="main">
@foreach (var item in Model.Brands)
{

    <div class="single" style="background-color:grey; border:1px solid black">
        <div class="image" style="background-color:red">
            IMG
        </div>
        @item.Name
        <div class="dropdown-content">
            @foreach (var mod in item.Models)
            {
                <a asp-controller="Shop" asp-action="Details" asp-route-id="@mod.Id">@mod.Name</a>
              @*  
                @foreach (var items in mod.)
                    {
                        
                    }*@
            }
        </div>
        
    </div>
}
</main>
